<div class="container mt-3">
  <form action="/currencies/{{cc._id}}/edit?id={{userId}}" method="post" enctype="multipart/form-data">
    <legend>Insert Currency</legend>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Name Item: </label>
      <input
        type="text"
        id="disabledTextInput"
        class="form-control"
        name="gem"
        placeholder="Name Item"
        value="{{cc.gem}}"
      />
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Price: </label>
      <input
        type="text"
        id="disabledTextInput"
        class="form-control"
        name="money"
        placeholder="Price"
        value="{{cc.money}}"
      />
    </div>
    <div class="mb-3">
            <label for="formFileSm" class="form-label">Image: </label>
            <input type="file" name="image" id="image" value="{{cc.image}}" onchange="loadFile(event);" />
        </div>
        <div class="mb-3">
            <img name="image" id="img-display" src="/images/{{cc.image}}" width="150px" height="150px">
        </div>
    <button type="submit" class="btn btn-outline-success">Submit</button>
  </form>
</div>


<script>
    const loadFile = function (event) {
        const reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('img-display');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
    
</script>