<section style="background-color: rgb(255, 193, 77);">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-9 col-lg-7 col-xl-5">
        <div class="card">
          <img src="/images/ThankYou.png"
            class="card-img-top" alt="Black Chair" />
          <div class="card-body" style="background-color: lightcoral;">
            <div class="card-title d-flex justify-content-between mb-0">
              <p class="text-muted mb-0">
                <strong>Gem Quantity:</strong>
                 {{currency.gem}}
                 <img src="/images/gem.png" style="width: 15px; height: 15px;" alt="Biểu tượng Gem" class="gem-icon">
                 </p>
              <p class="mb-0">
                <strong>Price:</strong>
                {{currency.money}} 
                USD
                </p>
            </div>
          </div>
          <div class="rounded-bottom" >
            <div class="card-body">
              <p class="mb-4"><strong>Transaction Details</strong></p>

              <!-- Display Gem and Account Name -->
              <div class="form-outline mb-3">
                <p class="mb-2">
                  <strong>Account name:</strong>
                   {{user.username}}</p>
              </div>

              <div class="form-outline mb-3">
                <input type="text" id="formControlLgXM8" class="form-control"
                  placeholder="1234 5678 1234 5678" />
                <label class="form-label" for="formControlLgXM8">Card Number</label>
              </div>

              <div class="row mb-3">
                <div class="col-6">
                  <div class="form-outline">
                    <input type="password" id="formControlLgExpk8" class="form-control"
                      placeholder="MM/YYYY" />
                    <label class="form-label" for="formControlLgExpk8">Expire</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class "form-outline">
                    <input type="password" id="formControlLgcvv8" class="form-control" placeholder="Cvv" />
                    <label class="form-label" for="formControlLgcvv8">Cvv</label>
                  </div>
                </div>
              </div>

              <form action="/rechange/payment" method="post">
                <input type="hidden" name="userId" value="{{user._id}}">
                <input type="hidden" name="currencyId" value="{{currency._id}}">
                <button class="btn btn-outline-danger" type="submit">Payment processing</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
