<style>
    body {
        background-image: url('/images/backLogin.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        max-width: 600px;
        margin: auto;
    }
</style>

<div class="container mt-3">
  <form action="/enemy/{{mt._id}}/edit?id={{userId}}" method="post" enctype="multipart/form-data">
    <legend>Insert Enemy</legend>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Name Enemy: </label>
      <input
        type="text"
        id="disabledTextInput"
        class="form-control"
        name="nameEnemy"
        placeholder="Fill in the blank"
        value="{{mt.nameEnemy}}"
      />
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Health: </label>
      <input
        type="text"
        id="disabledTextInput"
        class="form-control"
        name="health"
        placeholder="Fill in the blank"
        value="{{mt.health}}"
      />
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Speed: </label>
      <input
        type="text"
        id="disabledTextInput"
        class="form-control"
        name="speed"
        placeholder="Fill in the blank"
        value="{{mt.speed}}"
      />
    </div>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Ability: </label>
      <input
        type="text"
        id="disabledTextInput"
        class="form-control"
        name="ability"
        placeholder="Fill in the blank"
        value="{{mt.ability}}"
      />
    </div>
    <div class="mb-3">
            <label for="formFileSm" class="form-label">Image: </label>
            <input type="file" name="image" id="image" value="{{mt.image}}" onchange="loadFile(event);" />

        </div>
        <div class="mb-3">
            <img name="image" id="img-display" src="/images/{{mt.image}}" width="150px" height="150px">
        </div>
    <button type="submit" class="btn btn-outline-success">Submit</button>
  </form>
</div>


<script>
    const loadFile = function (event) {
        const reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('img-display');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>